body {
  margin: 0px;
  background-color: #2d4059;
  color: #e5e5e5;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}
h1 {
  margin-bottom: 50px;
}
h2 {
  color: #ea5455;
}

p {
  line-height: 1.5;
}

a {
  color: #2d4059;
  text-decoration: none;
}

a:hover {
  color: #2d4059;
}
.wrapper {
  width: 720px;
  padding-top: 225px;
  margin: 0 auto;
}
.section {
  margin-bottom: 200px;
}
/*Section Pertama*/
.intro {
  text-align: left;
}

.btn {
  background-color: #ea5455;
  color: #eeeeee;
  padding: 12px 30px;
  border-radius: 5px;
  display: inline-block;
}
.profil {
  width: 300px;
  float: right;
  border-radius: 100%;
  margin-left: 30px;
}
.programmer-img {
  width: 200px;
}
.title {
  /*1 em = 16px*/
  font-size: 4.5em;
  font-weight: bold;
  font-family: "Caveat", cursive;
  display: block;
}
/*Section Kedua*/
.skill-row {
  text-align: left;
  margin-bottom: 100px;
}
.skill-1 {
  float: left;
  margin-right: 30px;
}
.skill-2 {
  float: right;
  margin-left: 30px;
}
/*Section Ketiga*/

.cta-text {
  width: 68%;
  margin: 0 auto 12px auto;
}

/* Footer */
.social-links {
  margin: 0 12px 20px;
  color: #decdc3;
}
.footer {
  background-color: #ea5455;
  padding: 30px 0 20px 0;
}
#attribute {
  position: absolute;
  left: 310px;
  top: 150px;
}
